<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Iniciando caixa eletrônico</title>
		
		<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
		<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
		<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
		
		<style type="text/css">
		
			html, body{
				padding: 0;
				margin: 0 auto;
				margin-top: 50px;
				width: 65%;
				background-color: #fcf8e3;
			}
			
			.btn-group-lg>.btn, .btn-lg {
				padding: 20px 120px;
				font-size: 25px;
				border-radius: 10px;
			}
			
			.btn{
				margin-bottom: 10px;
			}
			
			.card-img{
				width: 150px;
			}
			
			.row {
				text-align: right;
				font-family: unset;
			}
			
			.table{
				width: 0;
				margin-left: 50px;
			}
			
			.card-img {
				width: 140px;
			}
		</style>
		
		<script type="text/javascript">
			function enviaValor(valor){
				$("#valor").val(valor);
				$("#botoes").submit();
			}
		</script>
		
	</head>
	<body>	
	
		<div class="container">
			<form id="botoes" action="/sacar" method="get" class="form-vertical  js-form-loading">
				<input type="hidden" id="valor" name="valor" value="">				
				
				  <div class="row">
				    <div class="col-md-4">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('20');">R$ 20</button>
				    </div>
				    <div class="col-md-4 ml-auto">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('40');">R$ 40</button>
				    </div>
				  </div>
				  
				  <div class="row">
				    <div class="col-md-4">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('60');">R$ 60</button>
				    </div>
				    <div class="col-md-4 ml-auto">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('80');">R$ 80</button>
				    </div>
				  </div>	
				  
				  <div class="row">
				    <div class="col-md-4">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('100');">R$ 100</button>
				    </div>
				    <div class="col-md-4 ml-auto">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('200');">R$ 200</button>
				    </div>
				  </div>
				  <div class="row">
				    <div class="col-md-4">
				    	<button type="button" class="btn btn-primary btn-lg" onclick="javascript:enviaValor('300');">R$ 300</button>
				    </div>
				    <div class="col-md-4 ml-auto">
				    	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">OUTRO</button>
				    </div>			    
				  </div>
			</form>
		</div>		  	 	  
		
		<hr>	
		<hr>
		
		<table class="table table-borderless">
			 <tbody>
			    <tr th:each="item : ${listaItens}">
			      <td th:each="i : ${#numbers.sequence( 1, {item.quantidade})}">
			      	<img th:src="${item.nota.path}" class="card-img" alt="...">
			      </td>			     		      		      
			    </tr>			    
			  </tbody>
		</table>
		
		<!-- MODAL -->
		<form id="formulario" action="/sacar" method="get">
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Informe o valor a ser sacado</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			          <div class="form-group">
			            <label for="recipient-name" class="col-form-label">Valor:</label>
			            <input type="text" name="valor" class="form-control" id="recipient-name">
			          </div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" class="btn btn-primary">SACAR</button>
			      </div>
			    </div>
			  </div>
			</div>
		</form>
		<!-- FIM MODAL -->
			
		
		<script src="/layout/javascripts/vendors.min.js"></script>
		<script src="/layout/javascripts/algaworks.min.js"></script>
	</body>
</html>